[mysqld]
# Cacti Recommended Settings
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_heap_table_size = 32M
tmp_table_size = 32M
join_buffer_size = 64M
innodb_buffer_pool_size = 256M
innodb_doublewrite = OFF
innodb_flush_log_at_timeout = 3
innodb_read_io_threads = 32
innodb_write_io_threads = 16
